.header-block{
  padding: 10px;
}
.heading{
  display: flex;
    font-size: 18px;
    font-weight: 800;
    align-content: center;
    justify-content: center;
}
nav{
  margin-top: 20px;
  a{
    padding: 10px;
  }
}
