<div>
  matListIcon

  <div>
    <p>Table is just a mapping of objects to table rows with <code>&#64;for</code></p>

<!-- <table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Expense Type</th>
			<th scope="col">Date</th>
			<th scope="col">Amount</th>
		</tr>
	</thead>
	<tbody>
    <tr *ngFor='let item of expensiveList; index as i'>

				<td>

					{{ item.typeOfExpense }}
				</td>
				<td>{{ item.date  }}</td>
				<td>{{ item.amount }}</td>
			</tr>



	</tbody>
</table> -->

<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>Moe</td>
      <td>mary@example.com</td>
    </tr>
    <tr>
      <td>July</td>
      <td>Dooley</td>
      <td>july@example.com</td>
    </tr>
  </tbody>
</table>
  </div>
</div>
