<div>
  matListIcon

  <div>
    <p>Table is just a mapping of objects to table rows with <code>&#64;for</code></p>

    <!-- <table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Expense Type</th>
			<th scope="col">Date</th>
			<th scope="col">Amount</th>
		</tr>
	</thead>
	<tbody>
    <tr *ngFor='let item of expensiveList; index as i'>

				<td>

					{{ item.typeOfExpense }}
				</td>
				<td>{{ item.date  }}</td>
				<td>{{ item.amount }}</td>
			</tr>



	</tbody>
</table> -->
<div class="container">
  <h2>Large Modal</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>This is a large modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Type</th>
            <th>Amount</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>john@example.com</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
